@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Jim+Nightshade&display=swap');

body {
    background-color: #F5F5F5;
}

p {
    font-family: 'Inter', sans-serif;
}

/* CABECALHO DA PÁGINA */
header {
    background-color: rgba(232, 232, 232, 0.5);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.navbar-brand {
    font-family: "Jim Nightshade", cursive;
    color: #990100;
}

.navbar-brand:hover {
    color: #990100;
}

.nav-link {
    font-family: 'Inter', sans-serif;
    color: #990100;
    font-weight: 400;
    font-size: 0.84rem;
}

.nav-link:hover {
    color: #990000bb;
}

.nav-link:visited, .nav-link:focus{
    color: #990100;
}

.nav-pills .nav-link.active {
    background-color: #990100;
}

/* PRIMEIRA SEÇÃO CASCATA */

h1 {
    font-family: "Jim Nightshade", cursive;
    color: #990100;
    font-size: 2rem;
}

h3, .text-colored {
    font-family: "Jim Nightshade", cursive;
    color: rgba(99, 99, 99, 0.8);
}

/* TERCEIRA SEÇÃO SKINS */

h5 {
    font-family: "Jim Nightshade", cursive;
    color: #990100;
}

#visuais .container {
    height: 5%;
}

.grid-c.carousel-control-next, .grid-c.carousel-control-prev {
    align-items: start;
    margin-top: 9.5%;
    height: 1.9rem;
}

#visuais .carousel-inner, #visuais .carousel-item.carousel-grid.active, #visuais .carousel-item-start {
    height: 2%;
}

/* QUARTA SEÇÃO HABILIDADES */

.img-skills {
    border-radius: 10px;
}

/* QUINTA SEÇÃO CONTATO */

label {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: small;
    color: #990100;
}

#contato button {
    color: #fff;
    font-family: 'Inter', sans-serif;
    background-color: #990100;
}